.bgcolor {
  background-color: #202020;
  padding: 15px;
  header {
    .logo {
        
      .order {
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      button{
        padding: 7px 25px;
      background: #ff3839;
      border-radius: 9px;
      color: #ffffff;
      border: none;
      }
    }
  }
}
section{
 
 .backimage{
    background-image: url("/img/graphic-designers-meeting.png");
    height: 705px;
    background-repeat:no-repeat ;
    background-size: cover;
   
    .all_item{
        padding-top: 9%;
        .p_wel{
            p{
                font-size: 20px;
                span{
                    color: red;
                }
            }
        }
        .one_h1{
           
            h1{
                font-size: 92px;
                margin-left: 30px;
                width: 66%;
            }
        }
       .allsolid{
        width: 80%;
        display: flex;
        justify-content: end;
        .solid{
            height: 3px;
            width: 50%;
            
            background-color: #ff3839;

        }
       }
       .p2_page{
           p{
            font-size: 19px;
            width: 51%;
               
        }
       }
       .all_button{
        .button_right{
            button{
                color: white;
                border: none;
                background-color: #ff3839;
                padding: 10px 40px;
                border-radius: 5px;
            }
        }
        .button_left{
            button{
                border: none;
                background-color: white;
                padding: 10px 40px;
                border-radius: 5px;
            }
        }
       }
    }
 }
}

